@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import '../../assets/fonts/mixins.scss';

.info {

    &__container {
        max-width: 1440px;
        width: 100%;
        margin-top: 92px;
        @include flex (row, space-between, center);
    }
    &__block{  
        @include flex (column, space-evenly, start);
        width: 632px;
        height: 458px;
        &-subtitle {
            @include subtitle-font;
        }
        &-title {
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 72px;
            line-height: 78px;
            width: 100%;
            color: $main--text--color;
        }
        &-description {
            @include description-font;
            width: 100%;
        }
    } 
    &__image {
        width: 50%;
        height: auto;
    }
}
@media screen and (max-width: 760px) {
    .info{
        &__container {
        flex-direction: column;
        }
        &__block {
            width: 90%;
            height: 458px;
            align-items: center;
            &-title {
                font-size: 52px;
                line-height: 48px;
                text-align: center;
            }
            &-description {
                text-align: center;
            }
        }
        &__image {
            width: 90%;
            height: auto;
        }
    }
}
