@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./poppins/Poppins-Black.ttf) format("truetype");
    src: url(./poppins/Poppins-Regular.ttf) format("truetype");
  }
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./poppins/Poppins-Black.ttf) format("truetype");
    src: url(./poppins/Poppins-Medium.ttf) format("truetype");
  }
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./poppins/Poppins-Black.ttf) format("truetype");
    src: url(./poppins/Poppins-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./open_sans/OpenSans/OpenSans-Regular.ttf) format("truetype");

  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./open_sans/OpenSans/OpenSans-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./open_sans/OpenSans/OpenSans-Medium.ttf) format("truetype");
  }