@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import '../../assets/fonts/mixins.scss';

.twenty {
    &__container {
        max-width: 1440px;
        width: 100%;
        @include flex(row, space-between, center);
        margin: 80px 0;
    }
    &__image {
        width: 50%;
        height: auto;
    }
    &__block {
        @include flex (column, space-around, start);
        width: 546px;
        h1 {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 50px;
            line-height: 65px;
            color: $main--text--color;
            margin: 50px 0;
            letter-spacing: 0.04em;
        }
    }
}
@media screen and (max-width: 760px) {
    .twenty {
        &__container {
            flex-direction: column;
            margin-bottom: 20px;
        }
        &__block {
            align-items: center;
            justify-content: center;
            width: 100%;
            h1 {
                font-size: 40px;
                line-height: 45px;
                text-align: center;
            }
            &-image {
                @include flex(column, center, center);
                width: 70%;
                margin-left: 10%;
            }
        }
        &__image {
            width: 85%;
            margin-top: 50px;
        }
    }
}