@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import '../../assets/fonts/mixins.scss';


.skeleton{
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-bottom: .25rem;
    border-radius: .25rem;
}

.skeleton-box {
    display: flex;
    width: 1400px;
    margin-top: 20px;
    
    .placeholder-glow{
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .placeholder-wave{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}

@keyframes skeleton-loadind {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .skeleton-box {
        display: flex;
        width: 991px;
    }
}
@media screen and (max-width: 991.98px) {
    .skeleton-box {
        display: flex;
        width: 500px;
    }
}