@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import '../../assets/fonts/mixins.scss';

.blog {
    background-color: $footer--background--color;
    padding: 93px 0 122px;
    width: 100%;
    @include flex (column, center, center);
    &__container {
        max-width: 1440px;
        width: 100%;
        @include flex (column, center, center);
    }
    &__subtitle {
        @include subtitle-font;
    }
    &__title {
        @include title-font;
        margin: 21px 0 83px;
    }
    &__news {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        width: 100%;
        &-item {
            width: 45%;
            img {
                width: 100%;
                height: auto;
            }
            h3 {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 28px;
                color: $main--text--color;
                margin: 60px 0 17px;
            }
            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: $secondary--text--color;
                margin-bottom: 45px;
            }
        }
    }
    &__button {
        @include button;
        padding: 13px 35px;
    }
}
@media screen and (max-width: 760px) {
    .blog {
        padding: 50px 0;
        &__title {
            margin: 15px 0 50px;
        }
        &__news {
            flex-direction: column;
            &-item {
                width: 90%;
                height: 750px;
                @include flex(column, center, center);
                h3, p {
                    text-align: center;
                }
            }
        }
    }
}